[
    {
        "uuid": 1,
        "type": "paypal",
        "paypal_mode": "live",
        "parameters": [
            {
                "name": "PAYPAL_LIVE_CLIENT_ID",
                "value": "",
                "show_name": true,
                "show_value": false
            },
            {
                "name": "PAYPAL_LIVE_CLIENT_SECRET",
                "value": "",
                "show_name": true,
                "show_value": false
            }
        ],
        "active": true,
        "description": "PayPal Live"
    },
    {
        "uuid": 2,
        "type": "stripe",
        "parameters": [
            {
                "name": "STRIPE_KEY",
                "value": "",
                "show_name": true,
                "show_value": false
            },
            {
                "name": "STRIPE_SECRET",
                "value": "",
                "show_name": true,
                "show_value": false
            }
        ],
        "active": true,
        "description": "Stripe"
    },
    {
        "uuid": 3,
        "type": "other",
        "parameters": [
            {
                "name": null,
                "value": null,
                "show_name": true,
                "show_value": true
            }
        ],
        "active": true,
        "description": null
    }
]